
// I've used a few variables just to change easily and it will affect multiple files. The max width of the page - which probably should be close to the width of the images, and the distance for the description of projects and the map from the top and left margins.

$maxWidth: 1500px;

$mapTop: 50px;
$mapLeft: 50px;