@import "./variables";

.image-section {
  margin-bottom: 15px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: auto;

  // There really needs to be a max width for the images, or else they look bad on huge screens
  .image {
    width: 100vw;
    min-width: 320px;
  }

  .description-wrapper {
    position: absolute;
    top: $mapTop;
    left: $mapLeft;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.75);

    .description {
      margin: 0;
      padding: 20px;
      font-size: 17px;
    }

    @media (max-width: 480px) {
      display: none;
    }
  }

  .caption-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.75);

    .caption {
      padding: 8px 15px;
      font-size: 17px;
      font-style: italic;
    }
  }
}

.description-wrapper-small {
  display: none;

  @media (max-width: 480px) {
    display: block;
    padding: 8px 15px;

    .description {
      font-size: 17px;
    }
  }
}


